*.iml
*.tmp
*tmp

.gradle
.externalNativeBuild
.cxx
.DS_Store


/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

/.idea
.idea

/app/build
app/build

/caches
caches

/build
build

/daemon
daemon

/jdks
jdks

/kotlin-profile
kotlin-profile

/native
native

/wrapper
wrapper


/captures
captures

local.properties
local.properties
